@import 'https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans|Oswald';

body {
    background-color: 	#fffefe;
    margin: 0px;
}
#img {
  position: static;
  margin: 0px;
  width: 100%;
  height: auto;
}

header {
	display: flex;
	align-items: space-around;
	justify-content: center;
	top: 0;
	height: 20%;
	width: 100%;
	z-index: 9999;
  background-color: #a7f6fb
}
header #header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 110px;
}

header #header nav {
	margin-right: 100px;
	height: 50px;
}

header #header nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
}

header #header nav ul a {
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
  background-color: #FFF;
  border-radius: 10px;
}

header #header nav ul a:hover {
	background-color: #1c4454;
	color: #FFF;
  border-radius: 10px;
  transition: 1s;
}

header #header nav ul a:hover .navtext {
	color: #FFF;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}

header #header nav ul a .navtext {
	color: #1c4454;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: 'Lobster Two', cursive;
  color: 	#38b5c1;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: 'Lobster Two', cursive;
  font-size: 35px;
  color: #1c4454;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: #0f1a19;
  margin-bottom: 10px;
}
 section {
  margin-left: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 15px;
 }
navbar {
    width: 8%;
    height: 40%;
    display: flex;
    margin-top: 3%;
}

#downimg {
    margin-left: 35%;
    width: 8%;
    height: 8%;
    margin-bottom: 5%;
}
#upimg {
    margin-left: 10%;
    width: 8%;
    height: 8%;
    margin-bottom: 5%;
}
footer {
    margin-top: 0px;
    width: 100%;
    background-color: #a7f6fb;
    height: 5em;
}
footer img {
  margin-top: 1%;
  width: 5%;
  height: 70%;
  margin-left: 94%;
}
