@import 'https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans|Oswald';

body {
    background-color: #fffefe;
    margin: 0px;
}
#img {
  position: block;
  width: 100%;
  height: auto;
}

/* ----- NAVBAR ----- */
header {
	top: 0;
	width: 100%;
	z-index: 9999;
  background-color: #a7f6fb;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	list-style: none;
	margin: 0;
}

header nav ul a #title {
  color: #FFF;
  background-color: #1c4454;
  color: #FFF;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  padding: 20px;
	cursor: pointer;
  border-radius: 0 0 10px 10px;
}
header nav ul a #title:hover {
  color: #1c4454;
  background-color: #FFF;
  transition: 1s;
}
header nav ul a {
  text-decoration: none;
}
header nav ul a .navtext {
  display: flex;
  justify-content: center;
	color: #1c4454;
  font-family: 'Lobster Two', cursive;
  font-size: 1.5em;
  text-decoration: none;
	padding: 15px;
	cursor: pointer;
  background-color: #FFF;
  border-radius: 0 0 5px 5px;
}
header nav ul a:hover .navtext {
  	color: #FFF;
    background-color: #1c4454;
  	color: #FFF;
    transition: 1s;
}

/* ---- CONTENU -----*/
h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: 'Lobster Two', cursive;
  color: 	#38b5c1;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: 'Lobster Two', cursive;
  font-size: 35px;
  color: #1c4454;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: #0f1a19;
  margin-bottom: 10px;
}
 section {
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 15px;
  color: #222;
  line-height: 1.5;
  text-align: justify;
 }
section span {
  font-style: italic;
  font-size: 15px;
}
section a {
  color: #000;
}
section a:hover {
  color: #000;
  text-decoration: none;
}
navbar {
    width: 8%;
    height: 40%;
    display: flex;
    margin-top: 3%;
}

/* --- FOOTER --- */
footer {
    margin-top: 0px;
    width: 100%;
    background-color: #a7f6fb;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lobster Two', sans-serif;
    font-size: 1.5em;
}

footer img {
  width: 60%;
  height: auto;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer p {
  padding-left: 7%;
}

#blan, #tim, #keke, #cheffik, #babouche {
  opacity: 0.5;
}

#blan:hover, #tim:hover, #keke:hover, #cheffik:hover, #babouche:hover {
  opacity: 1;
}

/* ---- EXEMPLES ----*/
.buttons input {
  width: auto;
  height: 3vw;
  background-color: #a7f6fb;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  border-style: outset;
  margin-bottom: 0.5%;
}
.buttons input:hover {
  cursor: pointer;
  background-color: black;
	color: #FFF;
  transition: 0.2s;
  border-style: inset;
}

#flexDir1, #wrap {
  font-weight: bold;
  padding-right: 50%;
}

.exemple{
    width: 23vmax;
    display: flex;
    border: 0.5vw solid grey;
}

#exempleDistrib{
    height: auto;
    overflow: hidden;
}

#exempleJustify{
    width: 50vw;
    justify-content: flex-start;
}

#exempleAlign{
    width: 30vw;
    height: 40vh;
    flex-direction: column;
    align-items: flex-start;
}

#exempleJustify {
  width: 50vw;
  justify-content: flex-start;
}

.case{
    width: 5vmax;
    height: 5vmax;
    border: 0.1vw solid black;
}

.un{
    background-color: #3b5998;
}
.deux{
     background-color: #8b9dc3;
}
.trois{
    background-color: #dfe3ee;
}
.quatre{
    background-color: #f7f7f7;
}
.cinq{
    background-color: #ffffff;
}
#exempleOrdre{
    display: flex;
}

#un{order: 1;}
#deux{order: 2;}
#trois{order: 3;}
#quatre{order: 4;}
#cinq{order: 5;}
