.ImageRed {
  display: flex;
  flex-direction: à modifier
  flex-wrap:  à modifier
  justify-content: à modifier
}

.ImagePurple {
  display: flex;
  justify-content:  à modifier
}

.ImageBlue {
  display: flex;
  justify-content: à modifier
  padding: 20px;
}

.ImageYellow {
  display: flex;
  justify-content: à modifier
  align-items: à modifier
}
